<div class="header flex-ac">
    <div class="header_text">
        <h3>Dashboard</h3>
    </div>
    <div class="header_action flex-ac">
        <div class="header_action_item">
            <i class="bi bi-person-circle"></i>
        </div>
        <div class="header_action_item">
            <i class="bi bi-bell-fill"></i>
        </div>
        <div class="header_action_item">
            <i class="bi bi-info-circle-fill"></i>
        </div>
    </div>
</div>