<div class='sitebar flex-ac'>
    <div class='sitebar_logo'>
        <a href='/'>
            <img src='/img/logo.webp' alt='logo image' />
        </a>
    </div>
    <nav>
        <ul class='sitebar_list'>
            <li class='sitebar_list_item'>
                <a href='/' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-bar-chart-line-fill'></i>
                    <span>Trang chủ</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/user' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-person-circle'></i>
                    <span>Người dùng</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/product' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-bag-fill'></i>
                    <span>Sản phẩm</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/category' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-list-ul'></i>
                    <span>Loại sản phẩm</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/material' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-layers-fill'></i>
                    <span>Chất liệu</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/collection' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-bookmark-dash-fill'></i>
                    <span>Bộ sưu tập</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/blog' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-bootstrap-fill'></i>
                    <span>Bài viết</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/blog-category' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-list-ul'></i>
                    <span>Mục bài viết</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/banner' class='sitebar_list_item_text flex-ac'>
                    <i class="bi bi-flag-fill"></i>
                    <span>Banners</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/info' class='sitebar_list_item_text flex-ac'>
                    <i class="bi bi-info-square-fill"></i>
                    <span>Thông tin YODY</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/shop' class='sitebar_list_item_text flex-ac'>
                    <i class="bi bi-shop"></i>
                    <span>Cửa hàng</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/order' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-cart-fill'></i>
                    <span>Đơn hàng</span>
                </a>
            </li>
            <li class='sitebar_list_item'>
                <a href='/' class='sitebar_list_item_text flex-ac'>
                    <i class='bi bi-headset'></i>
                    <span>Liên hệ</span>
                </a>
            </li>
        </ul>
    </nav>
</div>