<div class="collection-add">
    <h3 class='text-center mb-3'>Thêm bộ sưu tập</h3>
    <form action="/collection/store-add" method="post" enctype="multipart/form-data" style='width:40%;' class='mx-auto form-add'>
        {{#if success}}
        <div class="alert alert-success" role="alert">
            {{success}}
            <span class="close-alert position-absolute"><i class="bi bi-x-circle-fill"></i></span>
        </div>
        {{/if}}
        <div class='d-flex align-items-center mb-2'>
            <div class='me-1'>
                <a href='/collection' class='btn btn-primary small'>Danh sách bộ sưu tập</a>
            </div>
            <div>
                <a href="/collection/add" class="btn btn-success small">Reset</a>
            </div>
        </div>
        <div class='mb-3'>
            <label class='form-label  fw-bold'>Tên bộ sưu tập</label>
            <input type='text' name='name' class='form-control' value="{{#if data.name}}{{data.name}}{{/if}}"/>
            {{#if errors.name}}
                <div class='form-error'>{{errors.name}}</div>
            {{/if}}
        </div>
        <div class='mb-3'>
            <label class='form-label  fw-bold'>Ảnh bộ sưu tập</label>
            <input type="file" name="image" class="form-control">
            {{#if errors.image}}
                <div class='form-error'>{{errors.image}}</div>
            {{/if}}
        </div>
        <div class='form-button'>
            <button type='submit' class='btn btn-primary'>Thêm bộ sưu tập</button>
        </div>
    </form>
</div>