<div class="category-add">
    <h3 class='text-center mb-3'>Thêm chất liệu</h3>
    <form action="/material/store-add" method="post" style='width:40%;' class='mx-auto form-add'>
        {{#if success}}
        <div class="alert alert-success" role="alert">
            {{success}}
            <span class="close-alert position-absolute"><i class="bi bi-x-circle-fill"></i></span>
        </div>
        {{/if}}
        <div class='d-flex align-items-center mb-2'>
            <div class='me-1'>
                <a href='/material' class='btn btn-primary small'>Danh sách chất liệu</a>
            </div>
            <div>
                <a href="/material/add" class="btn btn-success small">Reset</a>
            </div>
        </div>
        <div class='mb-3'>
            <label class='form-label  fw-bold'>Tên chất liệu</label>
            <input type='text' name='name' class='form-control' value="{{#if name}}{{name}}{{/if}}"/>
            {{#if error}}
                <div class='form-error'>{{error}}</div>
            {{/if}}
        </div>
        <div class='form-button'>
            <button type='submit' class='btn btn-primary'>Thêm chất liệu</button>
        </div>
    </form>
</div>