<!DOCtype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="//bizweb.sapocdn.net/100/438/408/themes/863105/assets/favicon.png?1656151742114" type="image/x-icon" /><link rel="apple-touch-icon" href="//bizweb.sapocdn.net/100/438/408/themes/863105/assets/favicon.png?1656151742114">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.css" />
    <link rel="stylesheet" href="/css/base.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <link rel="stylesheet" href="/css/config-boostrap.css">
    <title>{{#if title}} {{title}}-YODY {{else}} Document {{/if}}</title>
</head>
<body>
    {{> header}}
    {{> sitebar}}
    <div class="main">
        {{{body}}}
    </div>
    {{> footer}}
</body>
</html>